<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' type='text/css' %}">
</head>
<body>
{% if form.errors %}
    <p> There's something wrong with what you entered! </p>
{% endif %}

{% if next %}
    <p> Hey, you can't access that page! </p>
{% endif %}
<div class="mx-auto" style="display: block; text-align: center; padding-top: 20%;">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p> Username {{ form.username }} </p>
        <p> Password {{ form.password }} </p>

        <p><input class="btn btn-primary" type="submit" value="log in"></p>
        <input type="hidden" name="next" value="{{ index }}">
    </form>
</div>
</body>
</html>